/* pagination.css */

/* Base styling for the pagination container */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
}

/* Individual pagination link styles */
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    /* Adjust padding for better touch targets */
    color: #4b5563;
    /* Default link color */
    background-color: white;
    /* Background for normal state */
    border: 1px solid #d1d5db;
    /* Border color */
    border-radius: 0.375rem;
    /* Rounded corners */
    margin: 0 0.25rem;
    /* Space between links */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition */
}

/* Hover state for normal links */
.pagination a:hover {
    background-color: #f3f4f6;
    /* Light gray on hover */
    color: #1f2937;
    /* Darker text color on hover */
}

/* Current page link styling */
.pagination .currentStep {
    background-color: #2563eb;
    /* Blue background for the current step */
    color: white;
    /* White text color */
    border: 1px solid #2563eb;
    /* Border matches the background */
    padding: 0.5rem 0.75rem;
    /* Consistent padding */
    border-radius: 0.375rem;
    /* Rounded corners */
}

/* Previous and Next link styling */
.pagination .prevLink,
.pagination .nextLink {
    border-radius: 0.375rem;
    /* Rounded corners */
    color: #4b5563;
    /* Default color */
    background-color: white;
    /* Normal background */
    border: 1px solid #d1d5db;
    /* Border */
}

/* Hover state for Previous and Next links */
.pagination .prevLink:hover,
.pagination .nextLink:hover {
    background-color: #f3f4f6;
    /* Light gray on hover */
    color: #1f2937;
    /* Darker text color on hover */
}

/* Disable pointer events for Previous link if on the first page */
.pagination .prevLink[aria-disabled='true'],
.pagination .nextLink[aria-disabled='true'] {
    pointer-events: none;
    /* Prevent clicks */
    color: #a1a1aa;
    /* Lighter color to indicate disabled state */
    background-color: #e5e7eb;
    /* Light gray background */
    border-color: #d1d5db;
    /* Match border color */
}

label:has(+ input:required):after,
label:has(+ textarea:required):after,
label:has(+ select:required):after {
    content: ' *';
    color: red;
}